body{
    background-color:blanchedalmond;
}

h1{
    color: brown;
    text-align: center;
}

#common{
    font-family:cursive   
}

#italic{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic; 
}

#border{
    border-style: dotted;
    border-width: 5px;
    font-size:30px;
    border-color: chocolate;
    font-stretch: expanded;
}
#warning{
    color: red;
}

.margin{
    width: 20px;
    margin: auto;
    
}

a.two:link,a.two:visited{
    background-color:lightskyblue;
    color:darkslategray;
    padding: 10px 15px;
    text-align: center;
    text-decoration: darkslategray;
    display: inline-block;
}
.form_label{
    color: red;
}


#picture{

    justify-content: center;
    margin: auto;

}
div{
   width: auto; 
}
#academic{
    display: flex;
    flex-direction: row;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #2196F3;
    padding: 3px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }